# Django
*.log
*.sqlite3
/media/
/static/

# __pycache__ и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Миграции Django
*/migrations/

# Виртуальные окружения
venv/
env/
ENV/
.venv/
.virtualenv/

# IDE и редакторы
.idea/
.vscode/

# Docker
.docker/
.dockerignore

# Локальные настройки Django
local_settings.py