<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="stylesheet" href="../../static/css/authorization.css">
</head>
<body>
    <h2>Авторизація</h2>
    
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Логін:</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </p>
        <button type="submit">Авторизуватися</button>
    </form>
    
    <p>Не маєте акаунту? <a href="{% url 'registration' %}">Зареєструйтесь</a></p> <!-- Посилання на реєстрацію -->
</body>
</html>