<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/profile.css">
 
</head>
<body>

    <div id="box">
        <header id="header">
            <p class="text-view">
                <span class="text1"><strong>Про нас</strong></span>
                <div class="containerT">                    
                    <span class="text"><strong>Вироби</strong></span>
                    <span class="text"><strong>Події</strong></span>
                    <span class="text"><strong>Навчання</strong></span>
                    <span class="text"><strong>Звіти</strong></span>
                </div>
                <span class="text1">Профіль</span>
                <div class="dropdown">
                    <span class="arrow"></span>
                    <span class="language">EN</span>
                  </div>
                  
            </p>
        </header>
    </div>
    
    <img src="static/img/background-profile.png" alt="background" id="img">
    <img src="static/img/image-preview.png" alt="preview" id="preview" >

    <div class="inputs">
        <input type="text" id="firstName" name="firstName" placeholder="Ім'я">
        <input type="text" id="lastName" name="lastName" placeholder="Прізвище">
        <input type="text" id="age" name="age" placeholder="Вік">
        <input type="text" id="phoneNumder" name="phoneNumder" placeholder="Номер телефону">
        <input type="text" id="E-mail" name="E-mail" placeholder="Пошта">
    </div>

    <button class="button"><strong>Вийти</strong></button>
    

        
        
        
 
</body>
</html>