<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/css/registration.css">
</head>
<body>
    <header class="header">
        <a class="header-logo" href="/">
            Швейна рота
            <img class="logo" src="../../static/img/logo-preview 2.png" alt="logo" height="33px" width="33px">

        </a>
        <nav class="nav-header">         
            <div class="menu-right">
                <a href="/youtub/"><img src="../../static/img/png-youtube-preview 1.png" alt="youtub"></a>
                <a href="/telega/"><img src="../../static/img/png-telegram-preview 1.png" alt="telega"></a>
                <a href="/facebook/"><img src="../../static/img/png-feacbook.png" alt="facebook"></a>
                <a href="/instagram/"><img src="../../static/img/png-instagram-preview 1.png" alt="instagram"></a>
            </div>
            <div class="menu-left"></div>
                <a href="/profile/" class="profile">Профіль</a>
                <a href="/language/" class="language"><span class="arrow"></span> EN</a>
            </div>
        </nav>
    </header>
    <div class="forma">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">{{ form.username.label }}</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- Поле Електронна пошта -->
        <div class="form-group">
            <label for="id_email">{{ form.email.label }}</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- Поле Номер телефону -->
        <div class="form-group">
            <label for="id_phone_number">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}
            {% if form.phone_number.errors %}
                <div class="error">{{ form.phone_number.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- Поле Дата народження -->
        <div class="form-group">
            <label for="id_birth_date">{{ form.birth_date.label }}</label>
            {{ form.birth_date }}
            {% if form.birth_date.errors %}
                <div class="error">{{ form.birth_date.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- Поле Пароль -->
        <div class="form-group">
            <label for="id_password">{{ form.password.label }}</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors.0 }}</div>
            {% endif %}
        </div>

        <!-- Поле Підтвердження паролю -->
        <div class="form-group">
            <label for="id_confirm_password">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password }}
            {% if form.confirm_password.errors %}
                <div class="error">{{ form.confirm_password.errors.0 }}</div>
            {% endif %}
        </div>
        <button type="submit">Зареєструватися</button>
    </form>
    </div>
</body>
</html>