<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регістрация</title>
    <link rel="stylesheet" href="../../static/css/registration.css">
</head>
<body>
    <header class="header">
        <a class="header-logo" href="/">
            Швейна рота
            <img class="logo" src="../../static/img/logo-preview 2.png" alt="logo" height="33px" width="33px">

        </a>
        <nav class="nav-header">         
            <div class="menu-right">
                <a href="/youtub/"><img src="../../static/img/png-youtube-preview 1.png" alt="youtub"></a>
                <a href="/telega/"><img src="../../static/img/png-telegram-preview 1.png" alt="telega"></a>
                <a href="/facebook/"><img src="../../static/img/png-feacbook.png" alt="facebook"></a>
                <a href="/instagram/"><img src="../../static/img/png-instagram-preview 1.png" alt="instagram"></a>
            </div>
            <div class="menu-left"></div>
                <a href="/profile/" class="profile">Профіль</a>
                <a href="/language/" class="language"><span class="arrow"></span> EN</a>
            </div>
        </nav>
    </header>
    <form class="form">
        <fieldset class="form-items">
            <label for="sername">Прізвище:</label>
            <input id="sername"  type="text">
        </fieldset>
        <fieldset class="form-items">
            <label for="email">E-mail:</label>
            <input id="email"  type="email">
        </fieldset>
        <fieldset class="form-items">
            <label for="tel">Номер телефону:</label>
            <input id="tel"  type="tel">
        </fieldset>
        <fieldset class="form-items">
            <label for="birthday">Дата нарождення:</label>
            <input id="birthday"  type="date">
        </fieldset>
        <fieldset class="form-items">
            <label for="password">Пароль:</label>
            <input id="password"  type="password">
        </fieldset>
        <fieldset class="form-items">
            <label for="password-verification">Підтвердити:</label>
            <input id="password-verification"  type="password">
        </fieldset>
        <button class="form-items button-regist">Регистрация</button>
    </form>
</body>
</html>