<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Одежда</title>
    <link rel="stylesheet" href="../../static/css/registration.css">
</head>
<body>
    <img class="bg-registr" src="../../static/img/bg-registr-1.png" alt="">
    <header class="header">
        <a class="header-logo" href="/">
            Швейна рота
            <img class="logo" src="../../static/img/logo-preview 2.png" alt="logo" height="33px" width="33px">

        </a>
        <nav class="nav-header">         
            <div class="menu-right">
                <a href="/youtub/"><img src="../../static/img/png-youtube-preview 1.png" alt="youtub"></a>
                <a href="/telega/"><img src="../../static/img/png-telegram-preview 1.png" alt="telega"></a>
                <a href="/facebook/"><img src="../../static/img/png-feacbook.png" alt="facebook"></a>
                <a href="/instagram/"><img src="../../static/img/png-instagram-preview 1.png" alt="instagram"></a>
            </div>
            <div class="menu-left"></div>
                <a href="/profile/" class="profile">Профіль</a>
                <a href="/language/" class="language"><span class="arrow"></span> EN</a>
            </div>
        </nav>
    </header>
    <form class="form">
        <fieldset class="form-items">
                оооооооооооооооооооооооооооооооооооооооооооооооооооооооооооо
        </fieldset>
    </form>
</body>
</html>