<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href = "/static/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,600;1,600&display=swap');
    </style>
</head>
<header>
    <div class= "header">
        <h3 class="header_info">Швейна рота</h3>
        <img class="znachok" src="/static/css/img/znachok.png" alt="znak">
        <div class="inet"> 
            <a class="twit" href="https://twitter.com/ShveinaRota "><img class="twiter" src="/static/css/img/twiter.png" alt=""></a>
            <a class="tube" href="https://t.me/shveina_rota"><img class="youtube" src="/static/css/img/youtube.png" alt=""></a>
            <a class="tg" href="https://t.me/shveina_rota"><img class="telegram" src="/static/css/img/telegram1.png" alt=""></a>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100083407995435"><img class="facebook" src="/static/css/img/facebook.png" alt=""></a>
            <a class="inst" href="https://www.instagram.com/shveina_rota"><img class="inst" src="/static/css/img/inst.png" alt=""></a>
        </div>
        <img class="vek" src="/static/css/img/vek.png" alt=""> 
        <p class="language">EN</p>
    </div>
</header>
<body class="body">
    <div>
        <img class="main_image" src= "/static/css/img/main.jpg" alt="main">
        <h1 class="main_text">Швейна рота</h1>
        <div class="kvadrat">
            <p class="pidtrimka">Підтримай Україну разом з нами!</p>
            <div class="buton1">
                <a class="donat" href="https://send.monobank.ua/jar/5VV7zhDJGY">Зробити замовлення</a>
            </div>
        </div>
    </div>   
    
    <div class="body2">
        <h1 class="about_us">Про нас</h1>
        <div class="numbers">
            <div class="numbers2">
                <p class="num">100 тис.+</p>
                <p class="num">700+</p>
                <p class="num">100+</p>
                <p class="num">1800+</p>
            </div>
            <div class="text_num">
                <p class="opis">одиниць адаптативного одягу</p>
                <p class="opis">волонтерів в усіх частинах світу!</p>
                <p class="opis">госпталів, резабів, лікарень і т.д...</p>
                <p class="opis">індивідальних адресних запитів на адаптивний одяг</p>
            </div>
        </div>
        
        
    </div>
        
 
</body>
</html>