<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href = "/static/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,600;1,600&display=swap');
    </style>
</head>
<header>
    <div class= "header">
        <h3 class="header_info">Швейна рота</h3>
        <img class="znachok" src="/static/css/img/znachok.png" alt="znak">
        <div class="inet"> 
            <a class="twit" href="https://twitter.com/ShveinaRota "><img class="twiter" src="/static/css/img/twiter.png" alt=""></a>
            <a class="tube" href="https://t.me/shveina_rota"><img class="youtube" src="/static/css/img/youtube.png" alt=""></a>
            <a class="tg" href="https://t.me/shveina_rota"><img class="telegram" src="/static/css/img/telegram1.png" alt=""></a>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100083407995435"><img class="facebook" src="/static/css/img/facebook.png" alt=""></a>
            <a class="inst" href="https://www.instagram.com/shveina_rota"><img class="inst" src="/static/css/img/inst.png" alt=""></a>
        </div>
        <img class="vek" src="/static/css/img/vek.png" alt=""> 
        <p class="language">EN</p>
    </div>
</header>
<body class="body">
    <div>
        <img class="main_image" src= "/static/css/img/main.jpg" alt="main">
        <h1 class="main_text">Швейна рота</h1>
        <div class="kvadrat">
            <p class="pidtrimka">Підтримай Україну разом з нами!</p>
            <div class="buton1">
                <a class="donat" href="https://send.monobank.ua/jar/5VV7zhDJGY">Зробити замовлення</a>
            </div>
        </div>
    </div>   
    
    <div class="body2">
        <img class="flow" src="/static/css/img/flow.png" alt="">
        <img class="znacok" src="/static/css/img/znacok.png" alt="">
        <h1 class="about_us">Про нас</h1>
   
        <div class="numbers">
            <div class="numbers2">
                <p class="num">100 тис.+</p>
                <p class="opis">одиниць</p>
                <p class="opis">адаптативного одягу</p>
            </div>
            <div class="numbers2">
                <p class="num">700+</p>
                <p class="opis">волонтерів в усіх</p>
                <p class="opis">частинах світу!</p>
            </div>
            <div class="numbers2">
                <p class="num">100+</p>
                <p class="opis">госпталів, резабів,</p>
                <p class="opis">лікарень і т.д...</p>
            </div>
            <div class="numbers2">
                <p class="num">1800+</p>
                <p class="opis">індивідальних</p>
                <p class="opis">адресних запитів на</p>
                <p class="opis">адаптивний одяг</p>
          
            </div>
        </div>

        <div class="help">
            <img class="help1" src="/static/css/img/help1.png" alt="">
            <img class="help1" src="/static/css/img/help2.png" alt="">
        </div>
        <div class="buttons">
            <div class="buton2">
                <a class="donat2" href="">Доєднатись до пошиття</a>
            </div>
            <div class="buton2">
                <a class="donat3" href="https://send.monobank.ua/jar/5VV7zhDJGY">Підтримати</a>
            </div>
        </div>
        <p class="text">
            Ми добровільне об'єднання "Швейна рота", яке на волонтерських засадах відшиває адаптивний одяг для поранених військових. 
            Адаптивний одяг - це такий, який має липучки/кнопки/зав'язки. Завдяки цим адаптаціям, воїни та медперсонал можуть швидко та безболісно одягнутися та здійснити необхідні маніпуляції. 
            Ми шиємо адаптивні штани, шорти, труси, худі, кофти, футболки та інший одяг. 
            Наші кравчині і кравці з усіх куточків України і закордоном у своїх майстернях і домівках відшивають одяг, щоб одягнути якомога більше поранених. 
            Ми працюємо виключно на волонтерських засадах, тож будемо вдячні за підтримку нашого проекту. 
        </p>
        <img class="flow2" src="/static/css/img/flow.png" alt="">
        <img class="photo" src="/static/css/img/photos.png" alt="">

        <div class="partners">
            <div>
                <h2 class="part">Наші партнери:</h2>
            </div>
            <div>
                <p class="partner">Sbukraine.com</p>
                <p class="partner1">Нова пошта Гуманітарна</p>
                <p class="partner2">Rebel volunteer</p>
                <p class="partner3">Shafa.ua</p>
            </div>
        </div>


        <p class="mapa">Мапа підрозділів:</p>
        <img class="mapa_img" src="/static/css/img/mapa.png" alt="">
        <img class="ikonka" src="/static/css/img/ikonka.png" alt="">
        <div class="employer">
            <div class="employers">
                <p class="name1">Марина Пальченко</p>
                <p class="hto_tu">засновниця ініціативи</p>
                <p class="hto_tu">"Швейна рота"</p>
            </div>
            <div class="employers">
                <p class="name1">Ксенія Самойлич</p>
                <p class="hto_tu">керівник проекту,</p>
                <p class="hto_tu">співзасновниця ініціативи</p>
            </div>
            <div class="employers">
                <p class="name1">Тетяна Петренко</p>
                <p class="hto_tu">координаторка ШР</p>
                <p class="hto_tu">Слобожанське</p>
            </div>
            <div class="employers">
                <p class="hto_tu">Додати учасника</p>
                <p class="hto_tu">команди</p>
            </div>
        </div>
        
    </div>
        
 
</body>
</html>