<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href = "/static/css/main.css">
    
</head>
<header>
    <div class= "header">
        <h3 class="header_info">Швейна рота</h3>
        <img class="znachok" src="/static/css/img/znachok.png" alt="znak">
        <div class="inet"> 
            <a class="twit" href="https://twitter.com/ShveinaRota "><img class="twiter" src="/static/css/img/twiter.png" alt=""></a>
            <a class="tube" href="https://t.me/shveina_rota"><img class="youtube" src="/static/css/img/youtube.png" alt=""></a>
            <a class="tg" href="https://t.me/shveina_rota"><img class="telegram" src="/static/css/img/telegram1.png" alt=""></a>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100083407995435"><img class="facebook" src="/static/css/img/facebook.png" alt=""></a>
            <a class="inst" href="https://www.instagram.com/shveina_rota"><img class="inst" src="/static/css/img/inst.png" alt=""></a>
        </div>
        <img class="vek" src="/static/css/img/vek.png" alt=""> 
        <p class="language">EN</p>
    </div>
</header>
<body class="body">
    <div>
        <img class="main_image" src= "/static/css/img/main.jpg" alt="main">
        
    </div>   
        
        
 
</body>
</html>